/* Define font face for "ubuntu-sans" font */
@font-face {
  font-family: "ubuntu-sans";
  src: url("../webfonts/ubuntu-sans/UbuntuSans-VariableFont_wdth\,wght.ttf");
}

/* Smooth scrolling behavior for HTML elements */
html {
  scroll-behavior: smooth;
}

/* Cursor pointer for anchor elements */
a {
  cursor: pointer;
}

/* Styling for elements using "ubuntu-sans" font family */
.sec-logo,
.navbar,
.header-text,
.about,
.service,
.price,
.testimonial,
.contact-section,
.card__container {
  font-family: ubuntu-sans;
}

/* Navbar transition effect */
.navbar {
  transition: all 0.5s;
}

/* Styling for navbar when scrolled */
.navbar-scrolled {
  background-color: rgba(2, 40, 49, 255);
  box-shadow: 0 2px 8px rgba(206, 245, 252, 255);
}

/* Banner background styling */
.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../images/home.jpg);
  background-position: center;
  background-size: cover;
}

/* Styling for header text */
.header-text {
  position: absolute;
  top: 60%;
  left: 10%;
}

/* Styling for card containers */
.service {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}

/* Styling for card containers */
.card__container {
  display: grid;
  row-gap: 3.5rem;
}

/* Individual card styling */
.card__article {
  position: relative;
  overflow: hidden;
}

/* Styling for card image */
.card__img {
  width: 328px;
  border-radius: 1.5rem;
}

/* Styling for card data */
.card__data {
  width: 280px;
  background-color: hsl(0, 0%, 100%);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 2s;
}

/* Styling for card description */
.card__description {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}

/* Styling for card title */
.card__title {
  font-size: 1.5rem;
  font-weight: 500;
  color: hsl(0, 0%, 15%);
  margin-bottom: 0.75rem;
}

/* Styling for card button */
.card__button {
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
}

/* Arrow animation on card button hover */
.fa-arrow-right {
  transition: all 0.3s ease;
}

/* Styling for card button arrow icon on hover */
.card__button:hover .fa-arrow-right {
  transform: translateX(5px);
}

/* Animation for displaying card data on hover */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: 0.3s;
}

/* Animation for removing overflow on card article hover */
.card__article:hover {
  animation: remove-overflow 2s forwards;
}

/* Animation for showing overflow on card article not hovered */
.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

/* Animation for removing card data on card article not hovered */
.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Keyframes for showing card data */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

/* Keyframes for removing overflow */
@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

/* Keyframes for removing card data */
@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

/* Keyframes for showing overflow */
@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/* Styling for modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Styling for modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
}

/* Styling for modal header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

/* Styling for modal title */
.modal-title {
  margin: 0;
}

/* Styling for modal close button */
.close {
  color: #aaa;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease;
}

/* Styling for modal close button on hover */
.close:hover {
  color: rgba(12, 202, 240, 255);
}

/* Pricing card styling */
.pricing-card {
  border-radius: 10px;
  border: 1px solid #ddd;
  transition: all 0.3s;
}

/* Hover effect for pricing card */
.pricing-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for card header */
.card-header {
  text-align: center;
}

/* Styling for price icon */
.price-icon {
  font-size: 100px;
}

/* Styling for custom price section */
.custom-price {
  margin-top: 75px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../images/custom-price.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for content in custom price section */
.contant-custom-price {
  margin: 100px;
  text-align: center;
}

/* Styling for headings in custom price section */
.contant-custom-price h4 {
  margin-bottom: 50px;
}

/* Styling for paragraphs in custom price section */
.contant-custom-price p {
  margin-bottom: 50px;
}

/* Hover effect for contact price button */
.btn-contact-price {
  transition: all 0.5s ease;
}

/* Styling for contact price button on hover */
.btn-contact-price:hover {
  color: #fff;
}

/* Styling for team container */
.team-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: ubuntu-sans;
}

/* Styling for individual team member */
.team-container .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
}

/* Styling for member image and social icons */
.team-container .member .member-img,
.team-container .member .social {
  position: relative;
  overflow: hidden;
}

/* Styling for social icons */
.team-container .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}

/* Styling for social icons on hover */
.team-container .member:hover .social {
  opacity: 1;
  bottom: 80px;
}

/* Styling for individual social icon */
.team-container .member .social a {
  transition: color 0.3s;
  color: rgba(3, 41, 49, 255);
  margin: 0 3px;
  padding-top: 7px;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  background: rgba(12, 203, 240, 255);
  display: inline-block;
  transition: ease-in-out 0.3s;
  color: #fff;
}

/* Styling for individual social icon on hover */
.team-container .member .social a:hover {
  color: rgba(3, 41, 49, 255);
  text-decoration: none;
}

/* Styling for social icon */
.team-container .member .social i {
  font-size: 18px;
}

/* Styling for member information */
.team-container .member .member-info {
  padding: 25px 15px;
  background-color: rgba(206, 245, 252, 255);
}

/* Styling for member name */
.team-container .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: rgba(12, 203, 240, 255);
}

/* Styling for member job */
.team-container .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: rgba(3, 41, 49, 255);
}

/* Styling for testimonial section */
.testimonial {
  width: 100%;
  height: 100%;
  margin-top: 3rem;
  font-family: ubuntu-sans;
}

/* Styling for testimonial container */
.testi-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(206, 245, 252, 255);
}

/* Styling for swiper container */
.swiper {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 50px;
  overflow: hidden;
}

/* Styling for swiper slide */
.swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
}

/* Styling for testimonial image */
.swiper-slide img {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 50%;
}

/* Styling for testimonial text */
.swiper-slide p {
  text-align: center;
  padding: 0 100px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(3, 41, 49, 255);
}

/* Styling for quote icon */
.swiper-slide .quote-icon {
  font-size: 30px;
  color: rgba(12, 203, 240, 255);
}

/* Styling for testimonial details */
.swiper-slide .testi-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for testimonial name */
.testi-details .name {
  font-size: 14px;
  font-weight: 600;
  color: rgba(3, 41, 49, 255);
}

/* Styling for testimonial job */
.testi-details .job {
  font-size: 12px;
  font-weight: 400;
  color: rgba(3, 41, 49, 255);
}

/* Styling for swiper container */
.swiper {
  margin-left: auto;
  margin-right: auto;
}

/* Styling for contact section */
.contact-section {
  padding: 80px 0;
  border-radius: 15px;
  font-family: ubuntu-sans;
}

/* Styling for contact section header */
.contact-header {
  text-align: center;
  margin-bottom: 50px;
}

/* Styling for contact form */
.contact-form {
  max-width: 500px;
  margin: 0 auto;
}

/* Styling for form control */
.form-control {
  border-radius: 10px;
}

/* Styling for submit button */
.submit-btn {
  border-radius: 10px;
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background-color: rgba(12, 203, 240, 255);
  border: none;
}

/* Styling for submit button on hover */
.submit-btn:hover {
  background-color: rgba(3, 41, 49, 255);
  color: rgba(12, 203, 240, 255);
}

/* Styling for active submit button */
.submit-btn.active,
.submit-btn:active {
  background-color: rgba(12, 203, 240, 255) !important;
  color: #fff !important;
}

/* Styling for container of contact shape */
.container-contact-shape {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for contact shape */
.contact-shape {
  position: relative;
}

/* Styling for contact square */
.contact-square,
.contact-img {
  width: 350px;
}

/* Styling for contact square */
.contact-square {
  height: 350px;
  background-color: rgba(3, 41, 49, 255);
  margin-left: auto;
}

/* Styling for contact image */
.contact-img {
  position: absolute;
  right: 2rem;
  top: 3rem;
  background-image: url(../images/contact.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* Media query for small devices */
@media screen and (max-width: 340px) {
  .service {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}

/* Media query for medium devices */
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* Media query for large devices */
@media screen and (min-width: 1420px) {
  .service {
    height: 100vh;
  }

  .card__container {
    grid-template-columns: repeat(4, 1fr);
  }
  .card__img {
    width: 325px;
  }
  .card__data {
    width: 293px;
    padding-inline: 2.5rem;
  }
}

/* Media query for adjusting spacing in small devices */
@media only screen and (max-width: 767px) {
  .about-title {
    margin-top: 20px;
  }
}

/* Media query for adjusting contact image */
@media (min-width: 768px) {
  .contact-image img {
    max-width: 100%;
    height: auto;
  }
}
